﻿@using AccountResales.Business.Models;
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using AccountResales.Presentation.Areas.Admin.Models.GameViewModels

@inject IViewLocalizer Localizer
@model GameViewModel
@{
    <link rel="stylesheet" href="~/css/fileinput.css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/game.js"></script>
    <script type="text/javascript" src="~/js/fileinput.js"></script>
}


<div class="games">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h3>@Localizer["Games"]</h3>
            <p>@Localizer["Imposible remove use games!"]</p>
            <button class="add-account btn btn-default" type="button" data-toggle="modal" data-target="#addGame">@Localizer["Add game"]</button>
            @*Modal for add new game*@
            <div class="warnings-game"></div>

            <div id="addGame" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title">@Localizer["Add game"]</h4>
                            <div class="add-warnings-game"></div>
                        </div>
                        <div class="add-form">
                            <div class="input-file">
                                <label class="control-label">@Localizer["Banner"]</label>
                                <input id="input-2-add" name="input2[]" type="file" class="file" multiple data-show-upload="false" data-show-caption="true" data-allowed-file-extensions='["jpg", "jpeg", "png"]'>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputSmall">@Localizer["Name"]</label>
                                <input class="form-control input-sm" type="text" id="add-name" maxlength="15">
                            </div>
                            <div class="form-group">
                                <label for="select" class="control-label">@Localizer["Organization"]</label>
                                <select name="Role" class="form-control" id="add-organization">
                                    @foreach (var item in Model.AllOrganizations)
                                    {
                                        <option value="@item.Id">@item.Founder.Name - @item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputSmall">@Localizer["Date"]</label>
                                <input class="form-control input-sm" type="date" id="add-date">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputSmall">@Localizer["Description"]</label>
                                <textarea class="form-control input-sm" id="add-description" maxlength="200" rows="7"></textarea>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <a class="btn btn-default" id="create-new-game">@Localizer["Create"]</a>
                            <button class="btn btn-default" type="button" data-dismiss="modal">@Localizer["Cancel"]</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <table class="table table-striped table-hover table-orders" id="table">
            <thead>
                <tr>
                    <th>@Localizer["Banner"]</th>
                    <th>@Localizer["Date"]</th>
                    <th>@Localizer["Name"]</th>
                    <th>@Localizer["Organization"]</th>
                    <th>@Localizer["Description"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Games)
                {
                    <tr id="game-id__@item.Id">
                        <td id="game-banner__@item.Id"><img class="banner-small" src="@item.Banner" /></td>
                        <td id="game-date__@item.Id">@item.Date.ToString("d")</td>
                        <td id="game-name__@item.Id">@item.Name</td>
                        <td id="game-organization__@item.Id">@item.Organization.Founder.Name - @item.Organization.Name</td>
                        <td id="game-description__@item.Id"><div class="clip">@item.Description</div></td>
                        <td class="buttons-action">
                            <button class="btn btn-default" onclick='setGame("@item.Id","@item.Organization.Id")'
                                     data-toggle="modal" data-target="#updateGame">@Localizer["Update"]</button>
                            <button class="btn btn-default" onclick="DeleteGame(@item.Id)">@Localizer["Delete"]</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @*//Modal for update*@

        <div id="updateGame" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">@Localizer["Update game"]</h4>
                        <div class="update-warnings-game"></div>
                    </div>
                    <div class="add-form">
                        <div class="show-image">
                            <label class="control-label old-banner">@Localizer["Old banner"]</label>
                            <img />
                            <p>@Localizer["For change banner just to upload new banner!"]</p>
                        </div>
                        <div class="input-file">
                            <label class="control-label">@Localizer["Banner"]</label>
                            <input id="input-2-update" name="input2[]" type="file" class="file" multiple data-show-upload="false" data-show-caption="true" data-allowed-file-extensions='["jpg", "jpeg", "png"]'>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSmall">@Localizer["Name"]</label>
                            <input class="form-control input-sm" type="text" id="update-name" maxlength="15">
                        </div>
                        <div class="form-group">
                            <label for="select" class="control-label">@Localizer["Organization"]</label>
                            <select name="Role" class="form-control" id="update-organization">
                                @foreach (var item in Model.AllOrganizations)
                                {
                                    <option value="@item.Id">@item.Founder.Name - @item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSmall">@Localizer["Date"]</label>
                            <input class="form-control input-sm" type="text" id="update-date">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSmall">@Localizer["Description"]</label>
                            <textarea class="form-control input-sm" id="update-description" maxlength="200" rows="7"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" id="update-game">@Localizer["Update"]</a>
                        <button class="btn btn-default" type="button" data-dismiss="modal">@Localizer["Cancel"]</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
