﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using AccountResales.Business.Models;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using System.Security.Claims;

@inject IViewLocalizer Localizer
@model List<User>

@{
    ViewData["Title"] = "Log in";
}

<h2>Users</h2>

<div class="users">
    <table class="table table-striped table-hover table-orders" id="table">
        <thead>
            <tr>
                <th>@Localizer["Email"]</th>
                <th>@Localizer["First name"]</th>
                <th>@Localizer["Last name"]</th>
                <th>@Localizer["Phone"]</th>
                <th>@Localizer["Localization"]</th>
                <th>@Localizer["Role"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                
                
                <tr id="user-id__@item.Id">
                    <td>@item.Email</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Phone</td>
                    <td>@item.Localization</td>
                    <td id="user-role__@item.Id">@item.Role.Name</td>
                    <td class="buttons-action">
                        @if (!item.Id.ToString().Equals(User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier).Value))
                        {
                            if (item.Role.Name.Equals("Admin"))
                            {
                                <button class="btn btn-default" onclick="RevokeUser(@item.Id)">@Localizer["Revoke admin"]</button>
                            }
                            else
                            {
                                <button class="btn btn-default" onclick="GrandUser(@item.Id)">@Localizer["Grand admin"]</button>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/user.js"></script>
    }
}
