﻿@using AccountResales.Business.Models;
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder

@inject IViewLocalizer Localizer
@model List<Founder>

<div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h3>@Localizer["Founders"]</h3>
            <div class="warnings-founder red-text"></div>
            <button class="add-account btn btn-default" type="button" data-toggle="modal" data-target="#addFounder">@Localizer["Add founder"]</button>
            @*Modal for add new founder*@

            <div id="addFounder" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title">@Localizer["Add founder"]</h4>
                        </div>
                        <div class="add-form">
                            <div class="warning-create-founder"></div>
                            <div class="form-group">
                                <label class="control-label" for="inputSmall">@Localizer["Name"]</label>
                                <input class="form-control input-sm" type="text" id="new-founder-name" maxlength="15">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <a class="btn btn-default" id="create-new-founder">@Localizer["Create"]</a>
                            <button class="btn btn-default" type="button" data-dismiss="modal">@Localizer["Cancel"]</button>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover table-orders" id="table">
                <thead>
                    <tr>
                        <th>@Localizer["Name"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="founder-id__@item.Id">
                            <td id="founder-name__@item.Id">@item.Name</td>
                            <td class="buttons-action">
                                <button class="btn btn-default" onclick="setFounderId(@item.Id)" data-toggle="modal" data-target="#updateFounder">@Localizer["Update"]</button>
                                                               
                                <a class="btn btn-default" onclick="DeleteFounder(@item.Id)" id="cancel-account">@Localizer["Delete"]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*//Modal for Update*@

            <div id="updateFounder" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title">@Localizer["Founder"]</h4>
                        </div>
                        <div class="warning-update-founder"></div>
                        <div class="approve-form">
                            <div class="form-group">
                                <label class="control-label" for="inputSmall">@Localizer["Name"]</label>
                                <input class="form-control input-sm" type="text" id="founder-name-update">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <a class="btn btn-default" id="update-founder">@Localizer["Update"]</a>
                            <button class="btn btn-default" type="button" data-dismiss="modal">@Localizer["Cancel"]</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
@{
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/Founder.js"></script>
}