﻿@using AccountResales.Business.Models;
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using System.Security.Claims;
@using AccountResales.Data.Utils;
@using AccountResales.Presentation.Models.GameViewModels;

@inject IViewLocalizer Localizer
@model GameDetailsViewModel

<div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h3 class="name">@Model.Game.Name</h3>
            <div class="row game">
                <div class="col-md-4">
                    <img class="banner" src="@Model.Game.Banner" />
                </div>
                <div class="col-md-8">
                    <h4 class="organization">@Model.Game.Organization.Founder.Name @Model.Game.Organization.Name @Model.Game.Organization.Address</h4>
                    <div class="description">@Model.Game.Description</div>
                    <div class="date">@Model.Game.Date.ToString("d") </div>
                </div>
            </div>
            <div class="warnings-buy-account"></div>
            <table class="table table-striped table-hover table-accounts">
                <thead>
                    <tr>
                        <th>@Localizer["Price"]</th>
                        <th>@Localizer["Seller"]</th>
                        <th>@Localizer["Status"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model.Accounts.Where(x => x.Status != StatusAccount.Sold))
                    {
                        if (account.Status != StatusAccount.Sold)
                        {
                            <tr>
                                <td>@account.Price</td>
                                <td>@account.Seller.FirstName @account.Seller.LastName</td>
                                <td>@EnumUtil.GetEnumDescription(account.Status)</td>
                                <td class="buttons-action">
                                    @if (account.Status == StatusAccount.Selling && User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier) != null
                                        && !account.Seller.Id.ToString().Equals((User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier).Value)))
                                    {
                                        <a onclick="BoughtAccount(@account.Id,'@Localizer["You sure?"]')" class="btn btn-default">@Localizer["Buy"]</a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>


        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/details.js"></script>
}