﻿@using AccountResales.Business.Models;
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using AccountResales.Presentation.Models.GameViewModels;

@inject IViewLocalizer Localizer

@model List<GameDetailsViewModel>

@{
    var A = User.Claims;
    <link rel="stylesheet" href="~/css/dropdown-enhancement.css" />
}

<div>
    <p class="header-games">@Localizer["Games"]</p>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            @Html.Partial("Parts/_GameFilter.cshtml")

            <div class="game-cards">
                @foreach (var item in Model)
            {
                    @Html.Partial("Parts/_GameCart.cshtml", item);                
                }
            </div>
            <div class="pagination-block">
                <ul class="pagination" id="pagination"></ul>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript" src="~/js/startPage.js"></script>
