﻿@using AccountResales.Business.Models;
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using AccountResales.Presentation.Areas.Admin.Models.OrganizationViewModels


@inject IViewLocalizer Localizer
@model OrganizationViewModel
@{
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/organization.js"></script>
}


<div class="organizations">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h3>@Localizer["Organizations"]</h3>
            <button class="add-account btn btn-default" type="button" data-toggle="modal" data-target="#addOrganization">@Localizer["Add organization"]</button>
            @*Modal for add new organization*@
            <div class="warnings-organization"></div>

            <div id="addOrganization" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title">@Localizer["Add organization"]</h4>
                        <div class="add-warnings-organization"></div>
                        </div>
                        <div class="add-form">
                            <div class="form-group">
                                <label for="select" class="control-label">@Localizer["Founder"]</label>
                                <select name="Role" class="form-control" id="add-founder">
                                    @foreach (var item in Model.AllFounders)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputSmall">@Localizer["Address"]</label>
                                <input class="form-control input-sm" type="text" id="add-address" maxlength="20">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputSmall">@Localizer["Name"]</label>
                                <input class="form-control input-sm" type="text" id="add-name" maxlength="20">
                            </div>
                        </div>
                        
                    <div class="modal-footer">
                        <a class="btn btn-default" id="create-new-organization">@Localizer["Create"]</a>
                        <button class="btn btn-default" type="button" data-dismiss="modal">@Localizer["Cancel"]</button>
                    </div>
                    </div>

                </div>
            </div>
        </div>

        <table class="table table-striped table-hover table-orders" id="table">
            <thead>
                <tr>
                    <th>@Localizer["Founder"]</th>
                    <th>@Localizer["Name"]</th>
                    <th>@Localizer["Address"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Organizations)
                {
                    <tr id="organization-id__@item.Id">
                        <td>@item.Founder.Name</td>
                        <td>@item.Name</td>
                        <td>@item.Address</td>
                        <td class="buttons-action">
                            <button class="btn btn-default" onclick='setDataOrganization("@item.Id", "@item.Founder.Id", "@item.Address", "@item.Name")' data-toggle="modal" data-target="#updateOrganization">@Localizer["Update"]</button>
                            <button class="btn btn-default" onclick="DeleteOrganization(@item.Id)">@Localizer["Delete"]</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @*//Modal for update*@

        <div id="updateOrganization" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">@Localizer["Update organization"]</h4>
                        <div class="update-warnings-organization"></div>
                    </div>
                    <div class="add-form">
                        <div class="form-group">
                            <label for="select" class="control-label">@Localizer["Founder"]</label>
                            <select name="Role" class="form-control" id="update-founder">
                                @foreach (var item in Model.AllFounders)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSmall">@Localizer["Address"]</label>
                            <input class="form-control input-sm" type="text" id="update-address" maxlength="20">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSmall">@Localizer["Name"]</label>
                            <input class="form-control input-sm" type="text" id="update-name" maxlength="20">
                        </div>
                    </div>
                <div class="modal-footer">
                    <a class="btn btn-default" id="update-new-organization">@Localizer["Update"]</a>
                    <button class="btn btn-default" type="button" data-dismiss="modal">@Localizer["Cancel"]</button>
                </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>

