﻿@using Microsoft.AspNetCore.Identity
@using AccountResales.Presentation.Models
@using AccountResales.Business.Models
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder

@inject IViewLocalizer Localizer
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

}

@if (SignInManager.IsSignedIn(User))
{
    <div class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="UserAccount" asp-action="Manage">@Localizer["Hello"] @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <form asp-area="" asp-controller="UserAccount" asp-action="LogOff" method="post" id="logoutForm">
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["Log off"]</button>
                </form>
            </li>
            <li>
                <select class="lang-selector" name="lang" id="lang">
                    <option value="" disabled selected>@requestCulture.RequestCulture.UICulture.Name</option>
                    @if (!requestCulture.RequestCulture.UICulture.Name.Equals("en"))
                    {
                        <option value="en">en</option>
                    }
                    @if (!requestCulture.RequestCulture.UICulture.Name.Equals("ru"))
                    {
                        <option value="ru">ru</option>
                    }
                </select>
            </li>
        </ul>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="UserAccount" asp-action="Register">@Localizer["Register"]</a></li>
        <li><a asp-area="" asp-controller="UserAccount" asp-action="Login">@Localizer["Log in"]</a></li>
        <li>

            <select class="lang-selector" name="lang" id="lang">
                <option value="" disabled selected>@requestCulture.RequestCulture.UICulture.Name</option>
                @if (!requestCulture.RequestCulture.UICulture.Name.Equals("en"))
                {
                    <option value="en">en</option>
                }
                @if (!requestCulture.RequestCulture.UICulture.Name.Equals("ru"))
                {
                    <option value="ru">ru</option>
                }
            </select>
        </li>
    </ul>
}
