﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using AccountResales.Business.Models;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder

@inject IViewLocalizer Localizer
@model LoginViewModel

@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<h2>@Localizer["Log in"]</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="UserAccount" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <h4>@Localizer["Use a local account to log in."]</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="LastName" class="col-md-2 control-label">@Localizer["Last name"]</label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control" placeholder="@Localizer["Last name"]"/>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label" >@Localizer["Password"]</label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" placeholder="@Localizer["Password"]"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">@Localizer["Log in"]</button>
                    </div>
                </div>
                <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">@Localizer["Register as a new user?"]</a>
                </p>                
            </form>
        </section>
    </div>    
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
