﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using AccountResales.Business.Models;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder

@inject IViewLocalizer Localizer
@model User

@{
    ViewData["Title"] = "Log in";
}

<h2>@Localizer["Manage"]</h2>
<div class="row">
    <div class="col-md-10">
        <section>
            <div class="change-info">
                <div class="user-manage-form">
                    <h2>@Localizer["Change info"]</h2>
                    <div id="warnings"></div>
                    @*<div class="form-group">
                        <label class="control-label" for="inputSmall">@Localizer["Email"]</label>
                        <input class="form-control input-sm" type="email" id="user-email" value="@Model.Email">
                    </div>*@
                    <div class="form-group">
                        <label class="control-label" for="inputSmall">@Localizer["First name"]</label>
                        <input class="form-control input-sm" type="text" id="user-first-name" maxlength="15" value="@Model.FirstName">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSmall">@Localizer["Last name"]</label>
                        <input class="form-control input-sm" type="text" id="user-last-name" maxlength="15" value="@Model.LastName">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSmall">@Localizer["Address"]</label>
                        <input class="form-control input-sm" type="text" id="user-address" maxlength="25" value="@Model.Address">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSmall">@Localizer["Phone"]</label>
                        <input class="form-control input-sm" type="text" id="user-phone" maxlength="15" value="@Model.Phone">
                    </div>
                    <a class="btn btn-default save-info" id="@Model.Id">@Localizer["Save information!"]</a>
                </div>

                <div class="change-password">
                    <h2>@Localizer["Change password"]</h2>
                    <div id="warnings-password"></div>

                    <div class="form-group">
                        <label class="control-label" for="inputSmall">@Localizer["Old password"]</label>
                        <input class="form-control input-sm" type="password" id="old-password">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSmall">@Localizer["New password"]</label>
                        <input class="form-control input-sm" type="password" id="new-password">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSmall">@Localizer["Confirm new password"]</label>
                        <input class="form-control input-sm" type="password" id="confirm-new-password">
                    </div>

                    <a class="btn btn-default change-password-href" id="@Model.Id">@Localizer["Change password!"]</a>
                </div>

            </div>
        </section>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript" src="~/js/manage.js"></script>
}
