﻿@using AccountResales.Business.Models;
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using AccountResales.Data.Utils;
@using AccountResales.Presentation.Models.AccountViewModels

@inject IViewLocalizer Localizer
@model AccountViewModel
@{
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/accounts.js"></script>
}


<div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h3>@Localizer["Your accounts"]</h3>
            @*<a href="#" class="add-account btn btn-default">@Localizer["Add account"]</a>*@

            <button class="add-account btn btn-default" type="button" data-toggle="modal" data-target="#addAccount">@Localizer["Add account"]</button>
            @*Modal for add new account*@

            <div id="addAccount" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title">@Localizer["Add account"]</h4>
                        </div>
                        <div class="add-form">
                            <div class="form-group">
                                <label for="select" class="control-label">@Localizer["Game"]</label>
                                <select name="Role" class="form-control" id="game-selected">
                                    @foreach (var item in Model.AllGames)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputSmall">@Localizer["Price"]</label>
                                <input class="form-control input-sm" type="number" id="price">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <a class="btn btn-default" id="create-new-account">@Localizer["Create"]</a>
                            <button class="btn btn-default" type="button" data-dismiss="modal">@Localizer["Cancel"]</button>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover table-orders sortable" id="table">
                <thead>
                    <tr>
                        <th>@Localizer["Name"]</th>
                        <th>@Localizer["Date"]</th>
                        <th>@Localizer["Price"]</th>
                        <th>@Localizer["Status"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model.Accounts)
                    {
                        <tr id="account-id__@account.Id">
                            <td>@account.Game.Name</td>
                            <td>@account.Game.Date.ToString("d")</td>
                            <td>@account.Price</td>
                            <td>@EnumUtil.GetEnumDescription(account.Status)</td>
                            <td class="buttons-action">
                                @{var waiting = account.Status == StatusAccount.WaitingConfirmation;}

                                @if (waiting)
                                {
                                    <button class="btn btn-default" onclick="setAccountId(@account.Id)" data-toggle="modal" data-target="#approveAccount">@Localizer["Approve"]</button>
                                    <button class="btn btn-default" onclick="setAccountId(@account.Id)" data-toggle="modal" data-target="#regectAccount">@Localizer["Reject"]</button>
                                    
                                }
                                @if (waiting || account.Status == StatusAccount.Selling)
                                {
                                    <a class="btn btn-default" onclick="DeleteAccount(@account.Id)" id="cancel-account">@Localizer["Cancel"]</a>
                                }
                            </td>
                        </tr>
                                    }
                </tbody>
            </table>
            
            @*//Modal for approve*@

            <div id="approveAccount" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title">@Localizer["Write track!"]</h4>
                        </div>
                        <div class="approve-form">
                            <div class="form-group">
                                <label class="control-label" for="inputSmall">@Localizer["Track"]</label>
                                <input class="form-control input-sm" type="text" id="track-account">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <a class="btn btn-default" id="approve-account">@Localizer["Approve"]</a>
                            <button class="btn btn-default" type="button" data-dismiss="modal">@Localizer["Cancel"]</button>
                        </div>
                    </div>
                </div>
            </div>

            @*//Modal for reject*@
            <div id="regectAccount" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title">@Localizer["Write comment about reject"]</h4>
                        </div>
                        <div class="reject-form">
                            <div class="form-group">
                                <label class="control-label" for="inputSmall">@Localizer["Comment"]</label>
                                <input class="form-control input-sm" type="text" id="comment-account">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <a class="btn btn-default" id="reject-account">@Localizer["Reject!"]</a>
                            <button class="btn btn-default" type="button" data-dismiss="modal">@Localizer["Cancel"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
