﻿body {
    padding-bottom: 20px;
    background-color: #f7f8f9;
}

.content-wrapper {
    width: 1200px;
    margin: auto;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.banner {
    width: 250px;
    height: 250px;
}

.banner-small {
    width: 50px;
    height: 50px;
}

game {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.details {
    float: right;
    margin-top: 15px;
}

.date, .add-account {
    float: right;
}

.description {
    text-align: justify;
}

.table-accounts, table-orders {
    margin-top: 20px;
}

.lang-selector {
    float: right;
    margin-top: 15px;
}

.header-games {
    font-size: 20px;
    border-bottom: 1px solid #d2d2d2;
}

.modal-content .add-form, .modal-content .approve-form, .modal-content .reject-form {
    margin-left: 20px;
    margin-top: 20px;
}

.red-input {
    border-color: red;
}

.change-info .user-manage-form {
    display: inline-block;
    float: left;
    min-width: 400px;
}

.change-info .change-password {
    display: inline-block;
    margin-left: 200px;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}

.admin-nav {
    background-color: #08526f;
    height: 800px;
    color: #ffffff;
}

    .admin-nav a {
        color: #ffffff;
        text-decoration: none;
    }

    .admin-nav .admin-header a:hover {
        font-size: 24px !important;
    }

    .admin-nav .menu {
        text-align: center;
        width: 150px;
        margin: auto;
    }

        .admin-nav .menu .content-hrefs {
            margin-top: 20px;
        }

        .admin-nav .menu .admin-header {
            padding-top: 25px;
            font-size: 23px;
            border-bottom: 1px solid #fff;
        }

        .admin-nav .menu .list-group a {
            text-align: center;
            display: block;
            margin-top: 15px;
            font-size: 17px;
        }

            .admin-nav .menu .list-group a:hover {
                font-weight: bold;
            }

.add-form .input-file {
    width: 390px;
}

.form-group textarea {
    resize: none;
}

.clip {
    width: 620px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.show-image img {
    width: 300px;
}

.show-image .old-banner {
    display: block;
}

body a:hover {
    cursor: pointer;
}

.filter {
    margin: 50px 0 0 20px;
}

    .filter .filter-item {
        display: inline-block;
        padding: 0 5px;
    }

.filter-menu .hidden-element {
    display: none;
    position: absolute;
    z-index: 100;
}

.filter-menu:hover .hidden-element {
    display: block;
}

.filter .game-name-input {
    font-size: 16px;
    padding: 5px;
    border: 0;
    background-color: #f7f8f9;
    margin-top: -5px;
}

    .filter .game-name-input:focus {
        outline: none;
        border-bottom: 2px solid #dedede;
    }

.game-cards .game-cart {
    text-decoration: none;
    position: relative;
    background-size: 100% 100%;
    color: white;
    width: 250px;
    height: 393px;
    display: inline-block;
    margin: 50px 30px 50px 40px;
}

    .game-cards .game-cart .info-cart {
        background: rgba(0,0,0,0.3);
        height: 100%;
    }

    .game-cards .game-cart:hover .info-cart {
        background: none;
        display: block;
    }
    .game-cards .game-cart .hide-element {
        display: none;
        position: absolute;
        padding: 0 10px;
        font-size: 16px;
        background: rgba(0,0,0,0.3);
    }

    .game-cards .game-cart .game-accounts-count {
        right: 17px;
        top: 20px;        
    }

    .game-cards .game-cart:hover .hide-element {
        display: block;
    }

    .game-cards .game-cart .total-info {
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        background: rgba(0,0,0,0.5);
        line-height: 23px;
        padding-bottom: 10px;
    }

.filter .filter-button-dropdown {
    padding: 0;
    margin: 1px 0 0;
    min-width: 94px;
}

    .filter .filter-button-dropdown a {
        padding: 5px 0;
    }

.filter .tt-menu {
    background-color: #f7f8f9;
    min-width: 204px;
    top: 50px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
}

    .filter .tt-menu .tt-suggestion {
        padding: 3px;
    }
    .filter .tt-menu .tt-highlight{
        font-weight: 900;
    }

        .filter .tt-menu .tt-suggestion:hover {
            background-color: #dedede;
        }
