﻿@using AccountResales.Business.Models;
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using AccountResales.Data.Utils;

@inject IViewLocalizer Localizer
@{
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/js/orders.js"></script>
}

@model List<Order>

<div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">    
            <h3>@Localizer["Your orders"]</h3>      
            <table class="table table-striped table-hover table-orders sortable">
                <thead>
                    <tr>
                        <th>@Localizer["Name"]</th>
                        <th>@Localizer["Date"]</th>
                        <th>@Localizer["Seller"]</th>
                        <th>@Localizer["Price"]</th>
                        <th>@Localizer["Status"]</th>
                        <th>@Localizer["Tracking"]</th>
                        <th>@Localizer["Comment"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr id="order-id__@order.Id">
                            <td>@order.Account.Game.Name</td>
                            <td>@order.Account.Game.Date</td>
                            <td>@order.Account.Seller.FirstName @order.Account.Seller.LastName</td>
                            <td>@order.Account.Price</td>
                            <td>@EnumUtil.GetEnumDescription(order.Status)</td>
                            <td>@order.Track</td>
                            <td>
                                @if (order.Status == StatusOrder.Rejected)
                                {
                                <button class="btn btn-default" onclick="ViewComment('@order.Comment')" data-toggle="modal" data-target="#viewComent">@Localizer["View"]</button>
                                }
                            </td>
                            <td class="buttons-action">
                            @if (order.Status == StatusOrder.WaitingConfirmation)
                            {
                                <a onclick="DeleteOrder(@order.Id)" class="btn btn-default">@Localizer["Cancel"]</a>
                            }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*//Modal for view comment*@

            <div id="viewComent" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title">@Localizer["Comment"]</h4>
                        </div>
                        <div class="modal-body" id="text-comment"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
