﻿@using AccountResales.Business.Models;
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using System.Security.Claims;
@using AccountResales.Data.Utils;
@using AccountResales.Presentation.Models.GameViewModels;

@inject IViewLocalizer Localizer
<div class="filter">
    <div class="filter-item">
        <input type="text" class="typeahead game-name-input" id="game-name-input" maxlength="20" placeholder="@Localizer["Filter game name"]" />
    </div>
    <div class="filter-item founders-checkbox filter-menu">
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" data-placeholder="false">@Localizer["Founders"] <span class="caret"></span></button>
            <ul class="dropdown-menu" id="founders-checkbox-id">
                <!-- Other items -->
            </ul>
        </div>
    </div>
    <div class="filter-item organizations-checkbox filter-menu">
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" data-placeholder="false">@Localizer["Organizations"] <span class="caret"></span></button>
            <ul class="dropdown-menu" id="organizations-checkbox-id">
                <!-- Other items -->
            </ul>
        </div>
    </div>
    <div class="filter-item">
        <input class="start-date" type="date" placeholder="01.01.2017" value="01.01.2017" />
    </div>
    <div class="filter-item">
        <input class="end-date" type="date" placeholder="01.01.2017" value="01.01.2017" />
    </div>
    <div class="filter-item sort filter-menu">
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" data-placeholder="false">@Localizer["Sort"] <span class="caret"></span></button>
            <ul class="dropdown-menu noclose">
                <li><input type="radio" id="date" name="sort" value="date" checked><label for="date">@Localizer["Date"]</label></li>
                <li><input type="radio" id="name" name="sort" value="name"><label for="name">@Localizer["Name"]</label></li>
                <!-- Other items -->
            </ul>
        </div>
    </div>
    <div class="filter-item">
        <div class="btn-group">
            <a class="btn btn-success filter-button">@Localizer["Accept"]</a>
            <a class="btn btn-success dropdown-toggle" id="cancel-filter"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>
</div>