﻿@using AccountResales.Business.Models;
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using System.Security.Claims;
@using AccountResales.Data.Utils;
@using AccountResales.Presentation.Models.GameViewModels;

@inject IViewLocalizer Localizer
@model GameDetailsViewModel
@{
    var sellingAccounts = Model.Accounts.Where(x => x.Status != StatusAccount.Sold).ToList();
    string averagePrice = (sellingAccounts.Count > 0 ? sellingAccounts.Average(x => x.Price).ToString("0.##") : "-");
}


<a href="@(Url.Action("Details", "Home", new { idGame = Model.Game.Id }))" class="game-cart" style="background-image:url(@Model.Game.Banner);" id="game__@Model.Game.Id">
    <div class="info-cart">
        <div class="hide-element game-accounts-count">@Localizer["Accounts"]: @sellingAccounts.Count</div>
        <div class="total-info">
            <div class="game-name">@Model.Game.Name</div>
            <div class="game-date">@Localizer["Date"]: @Model.Game.Date.ToString("d")</div>
            <div class="game-average-price">@Localizer["Average price"]: @averagePrice</div>
        </div>
    </div>
</a>